@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: "roboto", sans-serif;
}

.fullpage {
    background-color: rgb(16, 16, 16);
    height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 1800px;
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-template-columns: 300px 1fr; 
}

.sidebar {
    background-color: rgb(24, 189, 255);
    grid-area: 1/1/3/2;
    padding: 15px;
}

.sidebar h1 {
    margin-bottom: 50px; 
    color: white;
    font-size: 2.2rem; 
}

.sidebar span {
    position: relative;
    top: -7px; 
}

.sidebar ul {
    list-style-type: none;
    margin-bottom: 50px;
    font-size: 2rem;
    color: white;
    line-height: 1.4;
    cursor: pointer;
}

.sidebar li>img {
    position: relative;
    top: 4px; 
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(26deg) brightness(104%) contrast(102%);
}

.sidebar li:hover {
    font-weight: bold;
    filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(236%) hue-rotate(48deg) brightness(113%) contrast(84%);
}


.header {
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    padding: 30px; 
    justify-content: space-around; 
    background-color: white; 
    box-shadow: 0px 3px 3px grey;
    z-index: 1;
}

.header-top, .header-bottom {
    display: flex; 
    justify-content: space-between; 
}

.header-top-left, .header-top-right {
    display: flex; 
    gap: 15px; 
    align-items: center; 
    font-size: 1.5rem;  
}

.header-top-left {
    flex-grow: 1;
    margin-right: 300px; 
}

.header-top-searchbox {
    background-color: rgb(238, 238, 238);
    height: 40px; 
    min-width: 400px; 
    border-radius: 25px;
    flex-grow: 1;
}

.header-bottom-left, .header-bottom-right {
    display: flex; 
    gap: 15px; 
    align-items: center; 
}

.button-header-bottom {
    background-color: rgb(24, 189, 255);
    border-radius: 25px; 
    padding: 10px 25px 10px 25px; 
    color: white; 
    font-weight: bold; 
    cursor: pointer; 
}

.header img {
    cursor: pointer; 
}

.content-container {
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 3fr 300px;
}

.content-left, .content-right {
    background-color: rgb(238, 238, 238);
    /* grid-template-rows: 10px 1fr 10px 1fr;
    grid-template-columns: 3fr 300px; */
    gap: 25px; 
    padding: 15px; 
}

.content-left {
    display: grid;
    grid-template-rows: 10px 1fr;
}

.content-right h2 {
    margin-bottom: 8px; 
}

.project-title {
    grid-area: 1/1/2/2;
}

.projects {
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-auto-rows: 320px; 
    gap: 25px;
}

.project-cards {
    display: grid;
    grid-template-columns: 15px 1fr 40px 40px 40px;
    grid-template-rows: 275px 50px; 
}

.project-content {
    grid-area: 1/2/2/6; 
    padding-top: 25px; 
    padding: 20px; 
    border-radius: 0px 15px 15px 0px; 
    box-shadow: 3px 3px 3px grey;
    height: 275px;
    line-height: 1.4rem;
    background-color: white;
}

.left-shadow {
    grid-area: 1/1/3/2;
    background-color: rgb(237, 179, 117);
    height: 315px; /* height of left-shadow is height of project-content element + padding-top + padding(or padding-bottom if specified) */
    width: 15px;
    border-radius: 15px 0 0 15px;
    box-shadow: 3px 3px 3px grey;
}

.card-icon1 {
    grid-area: 2/3/3/4;
    width: 35px; 
    position: relative;
    top: -20px;
    left: -20px; 
    cursor: pointer;
}
.card-icon2 {
    grid-area: 2/4/3/5;
    width: 35px; 
    position: relative;
    top: -20px;
    left: -20px; 
    cursor: pointer;
}
.card-icon3 {
    grid-area: 2/5/3/6;
    width: 35px; 
    position: relative;
    top: -20px;
    left: -20px; 
    cursor: pointer;
}

[class^='card-icon']:hover {
    width: 40px; 
    left: -22px; 
    top: -23px; 
} 

.project-cards h3, .announcement-card h3, .trending-card h3 {
    margin-bottom: 15px;
}

.announcements {
}

.announcement-card, .trending-card {
    background-color: white;
    padding: 15px; 
    border-radius: 15px; 
    box-shadow: 3px 3px 3px grey; 
    line-height: 1.4rem;
}

.announcement-card hr {
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.announcement-card {
    margin-bottom: 20px; 
}

.trending {
}

.trending-card {
}

.trending-card td {
    padding: 10px; 
    vertical-align: center; 
}